# Babel extraction configuration
# Flask-Babelによる翻訳文字列の抽出設定

[python: app/**.py]
encoding = utf-8

[jinja2: app/templates/**.html]
encoding = utf-8
extensions = jinja2.ext.autoescape,jinja2.ext.with_
